<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kaiju Tracker</title>
</head>
<body>
    <header>
        <h1>Kaiju Tracker</h1>
        <nav>
            <ul>
                <a href="/"></a><li>All Kaiju</li>
                <a href="/kaijus/new"><li>Add New</li></a>
                <a href=""></a><li>My Profile</li>
         </ul>
            <button>Sign Up</button>
            <button>Login</button>
        </nav>
    </header>
</body>
</html>